
.cart{
    margin-top: 2% !important;
    h2{
        font-size: 1.6rem;
        font-weight: 600;
    }
    .text-center {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 90vh; 
    }
    
}
