//text variables

$primaryColor:#0099cc;
$textColor:#212529; 
$navColor:rgb(0, 153, 204);
$seconderyTextColor: #fff;
$seconderyColor:#bbb;

//ratio variables

$btnBorderRadius: 5px;
$cardBorderRadius: 0.5rem;